repository/humantasks/-1234/WorkList-1/WorkList.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c) 2009-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ Licensed under the Apache License, Version 2.0 (the "License");
 ~ you may not use this file except in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~      http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing, software
 ~ distributed under the License is distributed on an "AS IS" BASIS,
 ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 ~ See the License for the specific language governing permissions and
 ~ limitations under the License.
-->
<wsdl:definitions name="WorkList"
                  targetNamespace="http://wso2.org/worklist/"
                  xmlns:tns="http://wso2.org/worklist/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tschema="http://wso2.org/worklist/schema"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:documentation>
        Humatask for Work List in WSO2 Carbon
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema
                targetNamespace="http://wso2.org/worklist/schema"
                xmlns:tns="http://wso2.org/worklist/schema"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                elementFormDefault="qualified">
            <xsd:element name="TaskData" type="tns:TaskDataType"/>
            <xsd:complexType name="TaskDataType">
                <xsd:sequence>
                    <xsd:element name="role" type="xsd:string"/>
                    <xsd:element name="description" type="xsd:string"/>
                    <xsd:element name="priority" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="WorkRequest">
        <wsdl:part name="WorkRequest" element="tschema:TaskData"/>
    </wsdl:message>

    <wsdl:message name="WorkResponse">
        <wsdl:part name="WorkResponse" type="xsd:boolean"/>
    </wsdl:message>

    <wsdl:portType name="WorkListPT">
        <wsdl:operation name="addTask">
            <wsdl:input message="tns:WorkRequest"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="WorkListCallbackPT">
        <wsdl:operation name="addTaskResponse">
            <wsdl:input message="tns:WorkResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="WorkListSoapBinding" type="tns:WorkListPT">
	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="addTask">
            <soap:operation soapAction="urn:addTask" style="document"/>
            <wsdl:input>
            	<soap:body use="literal" namespace="http://wso2.org/worklist/"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WorkListSoapBindingCB" type="tns:WorkListCallbackPT">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="addTaskResponse">
            <soap:operation soapAction="urn:publish" style="document"/>
            <wsdl:input>
            	<soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
            	<soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="WorkListService">
		<wsdl:port name="WorkListPort" binding="tns:WorkListSoapBinding">
     		<soap:address location="http://${carbon.local.ip}:${mgt.transport.http.port}/services/WorkListService"/>
		</wsdl:port>
    </wsdl:service>
    <wsdl:service name="WorkListServiceCB">
		<wsdl:port name="WorkListPortCB" binding="tns:WorkListSoapBindingCB">
     		<soap:address location="http://${carbon.local.ip}:${mgt.transport.http.port}/services/EventPublishService"/>
	    </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
